# Recommendation System for Music

Solution 0: Popularity based Recommender System
- most viewed / purchased items are shown. top 10. ranked list.
    - drawbacks: not personalized, no context, no item features, not scalable

Solution 1: Classification Model
- i.e. Linear Regression, Naive Bayes
- Takes user features & product features & purchase history.
- Gives recommendations based on mappings.
    - Drawbacks: cold-start problem, not scalable (feature space limited)

Solution 2: Nearest Neighbor Collaborative Filtering
- Use 'History Matrix' (users viewed which movies) and 'Co-occurrence Matrix' (which movies were viewed together by viewers, count this)
- Normalize Co-occurrence matrix. (common: Jaccard similarity)

In [16]:
import pandas as pd
import numpy as np

In [11]:
pd.DataFrame.transpose?

In [22]:
# dictionary of users
users = {"Ted": [1,1,1], "Carol":[1,0,1], "Bob":[1,0,0]}
movies = ["MovieA", "MovieB", "MovieC"]

# history matrix
hist_df = pd.DataFrame(data=users, index=movies)
hist_df = hist_df.transpose()
hist_df

       MovieA  MovieB  MovieC
Ted         1       1       1
Carol       1       0       1
Bob         1       0       0

In [58]:
type(movies)

list

In [56]:
hist_df["MovieB"][2]

0

In [42]:
hist_df.iloc[2][0] and hist_df.iloc[2][1]

0

In [49]:
# create co-occurrence matrix
co_df = pd.DataFrame(data=np.zeros((3,3)), columns=movies, index=movies, dtype=int)
co_df

        MovieA  MovieB  MovieC
MovieA       0       0       0
MovieB       0       0       0
MovieC       0       0       0

In [59]:
movies

['MovieA', 'MovieB', 'MovieC']

In [69]:
list(users.keys())

['Ted', 'Carol', 'Bob']

In [70]:
for movie in movies:
    for user in list(users.keys()):
        print(movie, user)

MovieA Ted
MovieA Carol
MovieA Bob
MovieB Ted
MovieB Carol
MovieB Bob
MovieC Ted
MovieC Carol
MovieC Bob

In [71]:
# this is disgusting...
# honestly, this brute force solution is the best I could do with an hour...

# calculate values of co-occurrence matrix
AnB = 0
AnC = 0
BnC = 0
for j in range(3):
        AnB += (hist_df.iloc[j][0] and hist_df.iloc[j][1]) 
        AnC += (hist_df.iloc[j][0] and hist_df.iloc[j][2])    
        BnC += (hist_df.iloc[j][1] and hist_df.iloc[j][2])
for y in range(3):
    for x in range(3):
        if x == y:
            co_df.iloc[y][x] = None
        if y == 0 and x == 1:
            co_df.iloc[y][x] = AnB
        if y == 0 and x == 2:
            co_df.iloc[y][x] = AnC
        if y == 1 and x == 0:
            co_df.iloc[y][x] = AnB
        if y == 1 and x == 2:
            co_df.iloc[y][x] = BnC
        if y == 2 and x == 0:
            co_df.iloc[y][x] = AnC
        if y == 2 and x == 1:
            co_df.iloc[y][x] = BnC
co_df

        MovieA  MovieB  MovieC
MovieA       0       1       2
MovieB       1       0       1
MovieC       2       1       0

Solution 3: Model Based Collaborative Filtering (Matrix Factorization)
- For Sparse Matrices
- helps inefficiencies
- identify latent (hidden) features from the input user x itemRatings matrix to represent users and items as vectors in N dimensional space
- common method of matrix factorization: Singular Value Decomposition

Performance Metrics for Recommendation Systems:
- Mean Absolute Error
- Accuracy
- ROC Curve

recap:

0. Popularity Based
1. Classification Based
2. Nearest Neighbor-Based CF
3. Matrix Factorization Based CF

Cold-Start Problem
- Use Classification Based (1)